<div>
	<p><%= cancel_link_for @node, 'cancel' %></p>
</div>

<%= render 'tree', node: @node.root, selected: @node -%>

<a name='form'>
	<h2>Edit <%= type_for(@node).titleize %></h2>
</a>

<div class='form'>
	<%#= render 'form', node: @node -%>
</div>