<%= link_to 'Ask Question', new_node_path, :class => 'button success' %>

<h1>Questions</h1>

<%= render 'empty', element_name: 'question' if @questions.blank? -%>

<%= render 'list', collection: @questions, list_type: :ul, show_body: false if @questions.any? -%>
