@import 'foundation_and_overrides';

html body {
	background:#bcd;
}

label {
	font-weight: bold;
}

div.field_with_errors {
	margin-bottom: 0;
}

.field_with_errors input, .field_with_errors textarea {
	border: 1px solid red;
}

.errors {
	color: red;
}

.submit, .cancel {
	@extend .button;
	@extend .expand;
}

.submit {
	@extend .success;
}

.cancel {
	@extend .secondary;
}

.question {
	@extend .panel;
	padding:10px;
	margin:5px;
}

#question, #response, .response, .form {
	@extend .panel;
	padding-bottom:0;
}

.question p.empty {
	margin-bottom:0;
}

#question, #response {
	@extend .callout;
}

#question, .question, #response, .response {
	position:relative;
}

.header .actions {
	position:absolute;
	right:3px;
	top:-4px;
}

.header .actions a.edit {
	//$padding: 0.1rem;
  //@include button($padding);
  font-size:75%;
}

.color_supporting_response, .color_opposing_response {
	position:absolute;
	left:0;
	top:0;
	width:7px;
	height:100%;
}

.color_supporting_response {
	background-color:$success-color;
}

.color_opposing_response {
	background-color:$alert-color;
}