@import 'foundation_and_overrides';

html body {
	background:#bcd;
}

label {
	font-weight: bold;
}

.field_with_errors {
	margin-bottom: 0;
}

.field_with_errors input, .field_with_errors textarea {
	border: 1px solid red;
}

div .errors {
	color: red;
}

#subtype_button, #question_button, #answer_button, #support_button, #oppose_button, #cancel_button {
  @extend .button;
  @extend .expand;
 }

#support_button {
	@extend .success;
}

#oppose_button {
	@extend .alert;
}

#cancel_button {
	@extend .secondary;
}

.question {
	@extend .panel;
	padding:10px;
	margin:5px;
}

#question, #subtype, .subtype, #answer, .answer, #support, .support, #oppose, .oppose, .form {
	@extend .panel;
	padding-bottom:0;
}

.question p.empty {
	margin-bottom:0;
}

#subtype, #question, #answer, #support, #oppose {
	@extend .callout;
}

div #subtype, .subtype, #question, .question, #answer, .answer, #support, .support, #oppose, .oppose {
	position:relative;
}

div .header .actions {
	position:absolute;
	right:12px;
	top:-4px;
}

.header .actions a.edit, .header .actions a.archive, .header .actions a.restore {
  font-size:75%;
}

.color_question, .color_answer, .color_subtype, .color_support, .color_oppose {
	position:absolute;
	left:0;
	top:0;
	width:7px;
	height:100%;
}

.root_color_support, .root_color_oppose, .root_color_question, .root_color_answer {
	position:absolute;
	right:0;
	top:0;
	width:7px;
	height:100%;
}

.color_question, .root_color_question {
	background-color:black;
}

.color_answer, .root_color_answer {
	background-color:grey;
}

.color_subtype {
	background-color:$primary-color;
}

.color_support, .root_color_support {
	background-color:$success-color;
}

.color_oppose, .root_color_oppose {
	background-color:$alert-color;
}

.branch_header {
	@extend .panel;
	
	padding: 0 27px 0 27px;
	margin-bottom:-1px;
	width:800px;
	height:25px;
	overflow:hidden;
	
	position:relative;
}

.wide {
	//width:100%;
}

div .branch_body {
	margin-left: 1px;
	border-left: 1px dashed $secondary-color;
}

.selected {
	@extend .callout;
	@extend .branch_header;
}

.selected .wide {
	width:100%;
}

.strike_thin, .strike_thick{
	position: relative;
}

.strike_thin::after, .strike_thick::after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
}

.strike_thin::after {
	border-bottom: 2px solid black;
}

.strike_thick::after {
	border-bottom: 3px solid black;
}