@import 'foundation_and_overrides';

html body {
	background:#bcd;
}

label {
	font-weight: bold;
}

.field_with_errors {
	margin-bottom: 0;
}

.field_with_errors input, .field_with_errors textarea {
	border: 1px solid red;
}

div .errors {
	color: red;
}

#subtype_button, #question_button, #answer_button, #cancel_button {
  @extend .button;
  @extend .expand;
 }
 
#cancel_button {
	@extend .secondary;
}

.question {
	@extend .panel;
	padding:10px;
	margin:5px;
}

#question, #answer, .answer, .form {
	@extend .panel;
	padding-bottom:0;
}

.question p.empty {
	margin-bottom:0;
}

#question, #answer {
	@extend .callout;
}

div #question, .question, #answer, .answer {
	position:relative;
}

div .header .actions {
	position:absolute;
	right:3px;
	top:-4px;
}

.header .actions a.edit {
	//$padding: 0.1rem;
  //@include button($padding);
  font-size:75%;
}

.color_supporting_response, .color_opposing_response {
	position:absolute;
	left:0;
	top:0;
	width:7px;
	height:100%;
}

.color_subtype {
	background-color:$primary-color;
}

.color_support {
	background-color:$success-color;
}

.color_oppose {
	background-color:$alert-color;
}