<%= open_tag(list_type).html_safe %>
	<% collection.each do |element| -%>
		<% next if element.archived_at and not params[:archived] %>
		
		<li><%= render 'node', node: element, id_or_class: 'class' -%></li>
	<% end -%>
<%= close_tag(list_type).html_safe %>