<ul style='margin-left:0;'>
	<% collection.each do |node| -%>
		<% next if node.archived_at and not params[:deleted] %>
		
		<% css_class = node.type.split(':').last.downcase -%>
		<li class='<%= css_class %>' style='padding:0; margin-bottom:-1px; border:0;'>
			<%= render 'header', node: node, is_list: true -%>
		</li>
	<% end -%>
</ul>